In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/jasimdipu/forword_id_datascience_batch_4th/main/diabetes.csv')

In [5]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [6]:
df.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

In [7]:
df.tail(5)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [8]:
df.to_csv('diabetes.csv')

In [9]:
d = pd.read_csv('diabetes.csv', index_col='Unnamed: 0')
d.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [11]:
d['Insulin'].head()

0      0
1      0
2      0
3     94
4    168
Name: Insulin, dtype: int64

In [12]:
d[['Glucose', 'BMI']].head()

   Glucose   BMI
0      148  33.6
1       85  26.6
2      183  23.3
3       89  28.1
4      137  43.1

In [14]:
type(d['Insulin'].head())

pandas.core.series.Series

In [15]:
type(d[['Glucose', 'BMI']].head())

pandas.core.frame.DataFrame

In [16]:
d.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [17]:
d.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [19]:
d['Age'].head()

0    50
1    31
2    32
3    21
4    33
Name: Age, dtype: int64

In [21]:
d.iloc[1]

Pregnancies                  1.000
Glucose                     85.000
BloodPressure               66.000
SkinThickness               29.000
Insulin                      0.000
BMI                         26.600
DiabetesPedigreeFunction     0.351
Age                         31.000
Outcome                      0.000
Name: 1, dtype: float64

In [22]:
d.iloc[5,5]

25.6

In [42]:
d[['Glucose', 'BMI']].iloc[2]

Glucose    183.0
BMI         23.3
Name: 2, dtype: float64

In [23]:
d['Age'][d['Age'] >= 30]

0      50
1      31
2      32
4      33
5      30
       ..
761    43
762    33
763    63
765    30
766    47
Name: Age, Length: 372, dtype: int64

In [35]:
d

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [72]:
d[['Glucose', 'BloodPressure']][d['Age'] == 30]

     Glucose  BloodPressure
5        116             74
10       110             92
52        88             66
126      120             70
132      170             64
256      111             56
300      167              0
309      124             68
316       99             80
326      122             64
351      137             84
364      147             74
365       99             54
444      117             62
496      110             68
556       97             70
602      124             74
616      117             96
645      157             74
706      115              0
765      121             72

In [73]:
d[['Glucose', 'BloodPressure', 'SkinThickness']][d['Insulin'] >= 94]

     Glucose  BloodPressure  SkinThickness
3         89             66             23
4        137             40             35
8        197             70             45
13       189             60             23
14       166             72             19
..       ...            ...            ...
748      187             70             22
753      181             88             44
755      128             88             39
763      101             76             48
765      121             72             23

[263 rows x 3 columns]

---

In [38]:
d.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [43]:
d['Pregnancies'].count()

768

In [44]:
d[['BloodPressure','SkinThickness']].count()

BloodPressure    768
SkinThickness    768
dtype: int64

In [45]:
d[['Glucose','SkinThickness']].count()

Glucose          768
SkinThickness    768
dtype: int64

In [70]:
d[['Glucose','BloodPressure']][d['Outcome'] == 0].count()

Glucose          500
BloodPressure    500
dtype: int64

In [50]:
d['BMI'].value_counts()

32.0    13
31.6    12
31.2    12
0.0     11
32.4    10
        ..
36.7     1
41.8     1
42.6     1
42.8     1
46.3     1
Name: BMI, Length: 248, dtype: int64

In [52]:
d['Outcome'].unique()

array([1, 0], dtype=int64)

In [53]:
sorted(d['BMI'].unique())

[0.0,
 18.2,
 18.4,
 19.1,
 19.3,
 19.4,
 19.5,
 19.6,
 19.9,
 20.0,
 20.1,
 20.4,
 20.8,
 21.0,
 21.1,
 21.2,
 21.7,
 21.8,
 21.9,
 22.1,
 22.2,
 22.3,
 22.4,
 22.5,
 22.6,
 22.7,
 22.9,
 23.0,
 23.1,
 23.2,
 23.3,
 23.4,
 23.5,
 23.6,
 23.7,
 23.8,
 23.9,
 24.0,
 24.1,
 24.2,
 24.3,
 24.4,
 24.5,
 24.6,
 24.7,
 24.8,
 24.9,
 25.0,
 25.1,
 25.2,
 25.3,
 25.4,
 25.5,
 25.6,
 25.8,
 25.9,
 26.0,
 26.1,
 26.2,
 26.3,
 26.4,
 26.5,
 26.6,
 26.7,
 26.8,
 26.9,
 27.0,
 27.1,
 27.2,
 27.3,
 27.4,
 27.5,
 27.6,
 27.7,
 27.8,
 27.9,
 28.0,
 28.1,
 28.2,
 28.3,
 28.4,
 28.5,
 28.6,
 28.7,
 28.8,
 28.9,
 29.0,
 29.2,
 29.3,
 29.5,
 29.6,
 29.7,
 29.8,
 29.9,
 30.0,
 30.1,
 30.2,
 30.3,
 30.4,
 30.5,
 30.7,
 30.8,
 30.9,
 31.0,
 31.1,
 31.2,
 31.3,
 31.6,
 31.9,
 32.0,
 32.1,
 32.2,
 32.3,
 32.4,
 32.5,
 32.6,
 32.7,
 32.8,
 32.9,
 33.1,
 33.2,
 33.3,
 33.5,
 33.6,
 33.7,
 33.8,
 33.9,
 34.0,
 34.1,
 34.2,
 34.3,
 34.4,
 34.5,
 34.6,
 34.7,
 34.8,
 34.9,
 35.0,
 35.1,
 35.2,
 35.3,
 35.4,
 35.5,
 35.6,
 35.7,
 35.8,
 35.9,
 36.0,
 36.1,
 36.2,
 36.3,
 36.4,
 36.5,
 36.6,
 36.7,
 36.8,
 36.9,
 37.0,
 37.1,
 37.2,
 37.3,
 37.4,
 37.5,
 37.6,
 37.7,
 37.8,
 37.9,
 38.0,
 38.1,
 38.2,
 38.3,
 38.4,
 38.5,
 38.6,
 38.7,
 38.8,
 38.9,
 39.0,
 39.1,
 39.2,
 39.3,
 39.4,
 39.5,
 39.6,
 39.7,
 39.8,
 39.9,
 40.0,
 40.1,
 40.2,
 40.5,
 40.6,
 40.7,
 40.8,
 40.9,
 41.0,
 41.2,
 41.3,
 41.5,
 41.8,
 42.0,
 42.1,
 42.2,
 42.3,
 42.4,
 42.6,
 42.7,
 42.8,
 42.9,
 43.1,
 43.2,
 43.3,
 43.4,
 43.5,
 43.6,
 44.0,
 44.1,
 44.2,
 44.5,
 44.6,
 45.0,
 45.2,
 45.3,
 45.4,
 45.5,
 45.6,
 45.7,
 45.8,
 46.1,
 46.2,
 46.3,
 46.5,
 46.7,
 46.8,
 47.9,
 48.3,
 48.8,
 49.3,
 49.6,
 49.7,
 50.0,
 52.3,
 52.9,
 53.2,
 55.0,
 57.3,
 59.4,
 67.1]

In [57]:
sorted(set(d['Age']), reverse = True)

[81,
 72,
 70,
 69,
 68,
 67,
 66,
 65,
 64,
 63,
 62,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51,
 50,
 49,
 48,
 47,
 46,
 45,
 44,
 43,
 42,
 41,
 40,
 39,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21]

In [58]:
sum(sorted(set(d['BMI'])))

8359.000000000002

In [59]:
max(sorted(set(d['BMI'])))

67.1

In [60]:
min(sorted(set(d['BMI'])))

0.0

In [61]:
import numpy as np

In [62]:
np.mean(sorted(set(d['Insulin']), reverse=True))

189.03225806451613

In [63]:
np.average(sorted(set(d['Insulin']), reverse=True))

189.03225806451613

In [65]:
d.head(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1
10,4,110,92,0,0,37.6,0.191,30,0
11,10,168,74,0,0,38.0,0.537,34,1
12,10,139,80,0,0,27.1,1.441,57,0
13,1,189,60,23,846,30.1,0.398,59,1
14,5,166,72,19,175,25.8,0.587,51,1
15,7,100,0,0,0,30.0,0.484,32,1
16,0,118,84,47,230,45.8,0.551,31,1
17,7,107,74,0,0,29.6,0.254,31,1
18,1,103,30,38,83,43.3,0.183,33,0
19,1,115,70,30,96,34.6,0.529,32,1

In [66]:
d['IBMI'] = d['Insulin']+d['BMI']

In [67]:
d.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,IBMI
0,6,148,72,35,0,33.6,0.627,50,1,33.6
1,1,85,66,29,0,26.6,0.351,31,0,26.6
2,8,183,64,0,0,23.3,0.672,32,1,23.3
3,1,89,66,23,94,28.1,0.167,21,0,122.1
4,0,137,40,35,168,43.1,2.288,33,1,211.1

In [68]:
d['IBMI'].value_counts()

0.0      10
31.2      9
32.4      7
32.0      6
31.6      6
         ..
400.9     1
285.6     1
79.4      1
437.4     1
138.2     1
Name: IBMI, Length: 546, dtype: int64

In [69]:
d[['Pregnancies', 'Glucose']][d['IBMI'] == 31.2]

     Pregnancies  Glucose
115            4      146
138            0      129
176            6       85
246           10      122
250            9      106
337            5      115
351            4      137
635           13      104
750            4      136

In [74]:
d.drop(['Glucose','IBMI'], axis=1, inplace=True)

In [75]:
d.head(6)

,Pregnancies,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,72,35,0,33.6,0.627,50,1
1,1,66,29,0,26.6,0.351,31,0
2,8,64,0,0,23.3,0.672,32,1
3,1,66,23,94,28.1,0.167,21,0
4,0,40,35,168,43.1,2.288,33,1
5,5,74,0,0,25.6,0.201,30,0

In [76]:
d.columns

Index(['Pregnancies', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI',
       'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [77]:
d[['Pregnancies', 'Insulin', 'BloodPressure', 'SkinThickness', 'BMI',
       'DiabetesPedigreeFunction', 'Age', 'Outcome']]

,Pregnancies,Insulin,BloodPressure,SkinThickness,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,0,72,35,33.6,0.627,50,1
1,1,0,66,29,26.6,0.351,31,0
2,8,0,64,0,23.3,0.672,32,1
3,1,94,66,23,28.1,0.167,21,0
4,0,168,40,35,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...
763,10,180,76,48,32.9,0.171,63,0
764,2,0,70,27,36.8,0.340,27,0
765,5,112,72,23,26.2,0.245,30,0
766,1,0,60,0,30.1,0.349,47,1
767,1,0,70,31,30.4,0.315,23,0